{% extends 'base.html' %}
{% block title %}
修改密码
{% endblock %}
{% block head %}
修改密码
{% endblock %}
{% block content %}
{% if forms.has_errors %}
<ul class="errorlist">
    <li>您输入的旧密码或新密码中存在错误!请重新输入。</li>
</ul>
{% endif %}
<form method="post" action=".">{% csrf_token %}
    <p><label for="id_old_password">您的旧密码:</label>{{ form.old_password }} </p>
    <p><label for="id_new_password1">输入新密码:</label>{{ form.new_password1 }}</p>
    <p><label for="id_new_password2">确认新密码:</label>{{ form.new_password2 }} </p>
    <input type="submit" value="确认">
</form>
{% endblock %}